@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manufacturing Consent", sans-serif;
}